$yellow: #CFA614;
$blue: #3161AC;

@mixin blue_button(){
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: transparent;
  background-image: -webkit-linear-gradient(320deg, #00C0FF 0%, #4218B8 100%);
  background-image: -o-linear-gradient(320deg, #00C0FF 0%, #4218B8 100%);
  background-image: linear-gradient(50deg, #00C0FF 0%, #4218B8 100%);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@mixin orange_button(){
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: transparent;
  background-image: -webkit-linear-gradient(320deg, #FD6E30 0%, #F9DF42 100%);
  background-image: -o-linear-gradient(320deg, #FD6E30 0%, #F9DF42 100%);
  background-image: linear-gradient(50deg, #FD6E30 0%, #F9DF42 100%);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@import "templates/stagepicker";
@import "templates/stagerecap";

body{  background: #CCC !important;  }
.bold{  font-weight: bold;  }
#fullinpark_resa_form_entete{
  height: 40px;
  display: flex;
  background: transparent;
  margin-bottom: 0;

  #fullinpark_resa_form_entete_resa_button{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0.5em 1.5em;
    background: $yellow;
    color: #FFF;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 99;

    a{
      text-decoration: none;
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  #fullinpark_resa_form_entete_question_button{
    display: flex;
    align-items: center;
    margin-left: -2px;
    padding: 0.5em 1.5em;
    background: $blue;
    color: #FFF;
    border-radius: 8px 8px 0 0;

    a{
      text-decoration: none;
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

#fullinpark_resa_form_container{
  width: 100%;
  //height: 1020px !important;
  margin-top: 0;
  padding: 0.5em;
  position: relative;
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;

  #fullinpark_resa_form_content{
    width: 80%;
    margin: 1em auto;

    .main_title{
      margin: 1em 0 0 0;
      font-size: 24px;
      color: $yellow;
      font-weight: bold;
      text-transform: uppercase;
    }

    .secondary_title{
      margin: 1em 0 0 0;
      font-size: 18px;
      color: $yellow;
      font-weight: bold;
      text-transform: uppercase;
    }
    #stage_selector_container, #collectives_courses_selector_container, #anniversary_infos_container{  display: none;  }

    .custom_select{
      width: 100%;
      position: relative;

      a{
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: #6d6d6d;
        cursor: pointer;

        img{
          width: 16px;
          height: 16px;
          margin: 0.3em 0 0 1em;
        }

        &.active{
          img{
            transform: rotate(180deg);
            transition-duration: 0.6s;
          }
        }
      }

      #custom_select_activities, #custom_select_stages, #custom_select_collectives_courses, #custom_select_anniversary{
        width: calc(100% + 40px);
        display: none;
        position: absolute;
        top: calc(100% + 0.7em);
        left: -20px;
        background: #EEE;
        color: #6d6d6d;
        box-shadow: 0px 15px 10px -15px #111;
        z-index: 9999;

        &.active{  display: block;  }
        ul{
          list-style: none;
          padding: 0;
          margin: 0;

          li{
            width: 100%;
            padding: 0.5em 0;
            text-align: center;
            cursor: pointer;

            &:hover{
              background: #FFF;
              font-weight: bold;
            }
          }
        }
      }

      #custom_select_anniversary{
        ul{
          li{
            position: relative;

            .infobulle{
              width: 20px;
              height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: calc(50% - 10px);
              right: 20px;
              border-radius: 50%;
              color: #FFF;
              background: $yellow;
              cursor: pointer;
            }
          }
        }
      }
    }
    #custom_select_stages{  z-index: 9998 !important; }

    .grey_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 1em 20px;
      background: #EEE;
      border-radius: 8px;

      p{  margin: 0;  }
      .association_title{
        width: 47%;
        margin: 0;
        color: $blue;
        font-weight: bold;
        line-height: 20px;
      }

      .association_link{
        width: 47%;
        padding: 0.7em 0;
        font-size: 20px;
        cursor: pointer;
        @include blue_button();
      }

      #all_tickets_details{
        width: 100%;
        display: flex;
        flex-direction: column;

        .tickets_infos_container{
          display: flex;
          justify-content: space-between;
          padding-bottom: 0.5em;
          margin-top: 0.5em;

          &:first-child{  border-bottom: 1px solid $blue;  }
          .tickets_infos_title{
            width: 65%;
          }

          .tickets_infos_content{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .resa_number{
              color: $blue;
              font-size: 20px;
              font-weight: bold;
            }
            .resa_minus, .resa_add{
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #6d6d6d;
              background: #FFF;
              border-radius: 5px;
              text-decoration: none;
              font-size: 18px;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }

        #tickets_details_anniversary{
          display: none;
          margin-top: 0.5em;
          text-align: center;
          font-weight: bold;

          #anniversary_cake_container{  display: none;  }
          .anniversary_extra_infos{
            margin: 10px 0;

            label{ display: block;  }
            input{
              width: 75%;
              background: #FFF;
            }

            .checkbox_choice{
              width: 50%;
              display: flex;

              label{
                width: 100%;
                display: flex;
                align-items: center;

                input{  width: 30px;  }
              }
            }

            &:last-child{
              width: 75%;
              display: flex;
              margin: 10px auto;
            }
          }
        }
      }
    }

    #stage_extra_infos_container{
      width: 100%;
      display: none;

      #stage_extra_infos{
        width: 100%;

        .stagiaire{
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 1em 0;

          input{
            width: 75%;
            background: #FFF;
            margin: 10px 0;
          }
        }
      }
    }

    #anniversary_formula_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .anniversary_formula_box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label{
          width: calc(100% - 25px);
          margin:  0;

          input{ margin-right: 10px; }
        }

        .infobulle{
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: #FFF;
          background: $yellow;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    #riders_container{
      #riders_selected_container{
        width: 90%;

        #riders_selected{  margin: -1em 0 1em 1em;  }
        #riders_update_button{
          width: 200px;
          max-width: 100%;
          margin: 0;
          @include blue_button();
        }
      }

      #riders_container_button{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #riders_reservation_button_container{
          width: 80%;

          #riders_reservation_button{
            width: 200px;
            max-width: 100%;
            margin: 0 auto;
            @include blue_button();
          }
        }

        .infobulle{
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: #FFF;
          background: $yellow;
          text-decoration: none;
          cursor: pointer;
        }
      }

      #riders_reservation_unavailable_message, #riders_reservation_kids_message{
        margin-top: 1em;
        color: red;
      }
    }

    #date_hours_container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1em;
      position: relative;

      .date_hours_box{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EEE;
        border-radius: 8px;

        #recap_resa{
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;;
          margin: auto;

          p{  margin: 0;  }
        }

        a{
          color: $blue;
          text-decoration: none;
          text-align: center;
          cursor: pointer;

          img{
            width: 75px;
            height: 75px;
            display: block;
            margin: 1em auto 0 auto;
          }

          p{
            display: flex;
            justify-content: center;
            margin: 0 0 0.5em 0;
            text-align: center;
            font-weight: bold;

            img{
              width: 16px;
              height: 16px;
              margin: 0.3em 0 0 1em;
            }
          }
        }
      }
    }

    #resa_form_submit_button{
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

      .next_step{
        width: 55% !important;
        @include blue_button();
      }

      #update_resa_button, .return_button{
        width: 40%;
        display: flex;
        align-items: center;
        line-height: 18px;
        @include orange_button();
      }
    }
  }

  #fullinpark_second_step_form_content{
    width: 80%;
    margin: 1em auto 1em 200%;

    .main_title{
      margin: 1em 0 0 0;
      font-size: 24px;
      color: $yellow;
      font-weight: bold;
      text-transform: uppercase;
    }

    .secondary_title{
      margin: 1em 0 0 0;
      font-size: 16px;
      color: $yellow;
      font-weight: bold;
      text-transform: uppercase;
    }
    input{
      width: 100%;
      min-height: 30px;
      border: 1px solid #C4C4C4;
    }

    #resa_form_submit_button{
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

      .next_step{
        width: 55% !important;
        @include blue_button();
      }

      #update_resa_button, .return_button{
        width: 40%;
        display: flex;
        align-items: center;
        line-height: 18px;
        @include orange_button();
      }
    }
  }

  #fullinpark_question_form_content, #fullinpark_structure_form_content{
    width: 80%;
    margin: 1em auto 1em 200%;

    .main_title{
      margin: 1em 0;
      font-size: 24px;
      color: $yellow;
      font-weight: bold;
      text-transform: uppercase;
    }

    .structure_half_row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .structure_form_row{
        width: 48%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        input{
          width: 100%;
          min-height: 30px;
          border: 1px solid #C4C4C4;
        }

        textarea{
          width: 100%;
          min-height: 150px;
          border: 1px solid #C4C4C4;
        }

        select{
          height: 46px;
          min-height: 30px;
        }
      }
    }

    .question_form_row{
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      input{
        width: 100%;
        min-height: 30px;
        border: 1px solid #C4C4C4;
      }

      textarea{
        width: 100%;
        min-height: 150px;
        border: 1px solid #C4C4C4;
      }

      select{
        height: 46px;
        min-height: 30px;
      }
    }

    button{
      width: 55% !important;
      margin-top: 1em;
      @include blue_button();
    }
  }

  .blue{  color: $blue;  }
  .bold{  font-weight: bold;  }
}

#datepicker_container{
  width: 120%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  background: $yellow;
  margin-top: -100%;
  margin-left: -10%;
  position: relative;
  z-index: 9999;

  #hide_datepicker{
    width: 100%;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: flex-end;
    margin: -1em 0 2em 0;
    cursor: pointer;

    img{
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
  }

  #datepicker_step1{
    display: none;

    #datepicker_step1_title{
      color: #FFF;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    #datepicker{
      td{
        padding: 0;

        .ui-state-default{
          text-align: center;
          text-decoration: none;

          &:hover{
            background: $yellow;
          }
        }

        .ui-state-highlight{

        }
      }
    }
  }

  #datepicker_step2, #datepicker_step3{
    width: 70%;
    padding-bottom: 3em;
    display: none;
    text-align: center;

    p{
      color: #FFF;
      font-size: 20px;
      text-align: center;

      a{
        text-decoration: none;
        color: #FFF;
        cursor: pointer;

        #datepicker_step2_value{
          font-weight: bold;
        }
        &:hover{  color: $blue;  }
      }
    }

    ul{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 auto;
      padding: 0;

      li{
        width: 16%;
        background: #FFF;
        color: $blue;
        text-align: center;
        padding: 0.5em 0;
        margin: 0.5em;
        font-weight: bold;
        cursor: pointer;

        &.full{  background: red;  }
        &.not_enough_places{  background: orange;  }
        &.full, &.not_enough_places{ color: #CCC;  }
        &:hover{
          background: $blue;
          color: #FFF;
        }
      }
    }

    #datepicker_step2_arrow, #datepicker_step3_arrow{
      width: 70%;
      display: flex;
      position: absolute;
      bottom: 20px;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;

      .datepicker_step2_arrow_back{
        cursor: pointer;

        img{
          width: 30px;
          height: 30px;
        }
      }

      .datepicker_step2_arrow_next{
        cursor: pointer;

        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

#riders_reservation_container{
  width: 120%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  background: $yellow;
  margin-top: -100%;
  margin-left: -10%;
  position: relative;
  z-index: 9999;

  #hide_reservation_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: -1em 0 2em 0;
    cursor: pointer;

    img{
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
  }

  .title{
    width: 70%;
    margin-bottom: 0.5em;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
  }

  #riders_reservation_content{
    width: 70%;

    .rider_line{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5em;
      margin-top: 0.5em;
      border-bottom: 1px solid #FFF;
      margin-bottom: 1em;

      p{
        margin: 0;
        color: #FFF;
        text-transform: uppercase;
      }

      .rider_infos_content{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .resa_number{
          color: $blue;
          font-size: 20px;
          font-weight: bold;
        }
        .resa_minus, .resa_add{
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #6d6d6d;
          background: #FFF;
          border-radius: 5px;
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  #add_riders{
    width: 250px;
    margin-top: 1em;
    @include blue_button();
  }
}

#form_errors_message_container{
  width: 120%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0 2em 0;
  background: $yellow;
  margin-top: -70%;
  margin-left: -10%;
  position: relative;
  z-index: 9999;

  #hide_errors_message_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 1em;
    cursor: pointer;

    img{
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
  }

  #form_errors_message{
    width: 80%;
    margin: 3em auto 1em auto;
    color: #FFF;
  }
}

.validation_message_popup{
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999999;

  .close_popup{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;

    img{  width: 25px;  }
  }

  .validation_message_popup_content{
    width: 50%;
    padding: 2em 2em 1em 2em;
    margin: auto;
    background: #FFF;
  }
}


.loader {
  margin: 2em 0;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #4218B8; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#anniversary_popup{
  width: 400px;
  display: none;
  padding: 1em 20px;
  position: absolute;
  z-index: 999999;
  background: $yellow;
  color: #FFF;

  .triangle{
    width: 0;
    height: 0;
    margin-top: -33px;
    margin-bottom: 33px;
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent $yellow transparent;
  }
  .anniversary_popup_formula{  display: none;  }
}

@media screen and (max-width: 640px) {
  #fullinpark_resa_form_container{
    overflow-x: visible !important;
    overflow-y: visible !important;

    #fullinpark_resa_form_content{
       .grey_container{
          .association_title{
            width: 60%;
            word-break: break-all;
          }

          .association_link{  width: 35%;  }
      }
    }
  }

  .validation_message_popup{
    .validation_message_popup_content{
      width: 100%;
    }
  }
}
